apiVersion: apps/v1
kind: Deployment
metadata:
  name: samba
  namespace: samba
spec:
  replicas: 1
  selector:
    matchLabels:
      app: samba
  template:
    metadata:
      labels:
        app: samba
    spec:
      nodeSelector:
        kubernetes.io/hostname: k3s-vm-pumped-piglet-gpu
      initContainers:
      - name: init-perms
        image: busybox
        command:
        - sh
        - -c
        - |
          chown nobody:nogroup /mnt/samba-storage
          chmod 0775 /mnt/samba-storage
        volumeMounts:
        - name: share
          mountPath: /mnt/samba-storage
      containers:
      - name: smbd
        image: ghcr.io/servercontainers/samba:latest
        env:
        - name: MODEL
          value: TimeCapsule
        - name: AVAHI_NAME
          value: StorageServer
        - name: SAMBA_CONF_LOG_LEVEL
          value: "3"
        - name: SAMBA_GLOBAL_CONFIG_interfaces
          value: lo eth0
        - name: SAMBA_GLOBAL_CONFIG_bind_SPACE_interfaces_SPACE_only
          value: "yes"
        envFrom:
        - secretRef:
            name: samba-users
        - configMapRef:
            name: samba-volumes
        ports:
        - containerPort: 445
          protocol: TCP
        - containerPort: 139
          protocol: TCP
        securityContext:
          runAsUser: 0
        volumeMounts:
        - name: share
          mountPath: /shares
      volumes:
      - name: share
        hostPath:
          path: /mnt/samba-storage
          type: Directory