apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
resources:
  - namespace.yaml
  - rbac.yaml
  - pvc.yaml
  - deployment.yaml
  - service.yaml
  - ingress.yaml
  # Blue deployment (v1.15.0 with MQTT)
  - blue/pvc-blue.yaml
  - blue/mqtt-secret.yaml
  - blue/deployment-blue.yaml
  - blue/service-blue.yaml
  - blue/ingress-blue.yaml
