apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: crossplane-system
resources:
  - namespace.yaml
  - helmrepository.yaml
  - helmrelease.yaml
  - provider-proxmox.yaml
  # provider-config.yaml excluded - contains secrets, apply separately
