# ProviderConfig for Proxmox
# Secret created by: scripts/crossplane/create-proxmox-secret-sops.sh
---
apiVersion: proxmoxbpg.crossplane.io/v1beta1
kind: ProviderConfig
metadata:
  name: default
spec:
  credentials:
    source: Secret
    secretRef:
      name: proxmox-credentials
      namespace: crossplane-system
      key: credentials
