apiVersion: helm.cattle.io/v1
kind: HelmChartConfig
metadata:
  name: traefik
  namespace: kube-system
spec:
  valuesContent: |-
    service:
      annotations:
        metallb.universe.tf/loadBalancerIPs: "192.168.4.80"
    ports:
      postgres:
        port: 5432
        expose:
          default: true
        exposedPort: 5432
        protocol: TCP
      frigate-api:
        port: 5000
        expose:
          default: true
        exposedPort: 5000
        protocol: TCP
      frigate-rtsp:
        port: 8554
        expose:
          default: true
        exposedPort: 8554
        protocol: TCP
      frigate-webrtc-tcp:
        port: 8555
        expose:
          default: true
        exposedPort: 8555
        protocol: TCP
      frigate-webrtc-udp:
        port: 8555
        expose:
          default: true
        exposedPort: 8555
        protocol: UDP
    additionalArguments:
      - "--entrypoints.postgres.address=:5432/tcp"
      - "--entrypoints.frigate-api.address=:5000/tcp"
      - "--entrypoints.frigate-rtsp.address=:8554/tcp"
      - "--entrypoints.frigate-webrtc-tcp.address=:8555/tcp"
      - "--entrypoints.frigate-webrtc-udp.address=:8555/udp"
