apiVersion: helm.cattle.io/v1
kind: HelmChartConfig
metadata:
  name: traefik
  namespace: kube-system
spec:
  valuesContent: |-
    service:
      annotations:
        metallb.universe.tf/loadBalancerIPs: "192.168.4.80"
    ports:
      postgres:
        port: 5432
        expose: true
        exposedPort: 5432
        protocol: TCP
    additionalArguments:
      - "--entrypoints.postgres.address=:5432/tcp"
