apiVersion: v1
kind: Service
metadata:
  name: stable-diffusion-webui
  namespace: stable-diffusion
  annotations:
    metallb.universe.tf/loadBalancerIPs: "192.168.4.82"
spec:
  type: LoadBalancer
  selector:
    app: stable-diffusion-webui
  ports:
    - name: http
      port: 80
      targetPort: 8080
      protocol: TCP
