apiVersion: v1
kind: Service
metadata:
  name: ollama-lb
  namespace: ollama
  annotations:
    metallb.universe.tf/loadBalancerIPs: "192.168.4.85"
spec:
  type: LoadBalancer
  selector:
    app: ollama-gpu
  ports:
    - name: http
      port: 80             # external port
      targetPort: 11434    # ollama container port
      protocol: TCP

