apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
resources:
  - namespace.yaml
  - helmrepository.yaml
  - helmrelease.yaml
  - prometheus-storage-class.yaml
  - cpu-alerting-rules.yaml
  - flux-alerting-rules.yaml
  - flux-servicemonitor.yaml
  - grafana-ingress.yaml

configMapGenerator:
  - name: monitoring-values
    namespace: monitoring
    files:
      - values.yaml=monitoring-values.yaml

generatorOptions:
  disableNameSuffixHash: true
