apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
resources:
  - namespace.yaml
  - secrets/smtp-credentials.sops.yaml
  - secrets/grafana-admin-credentials.sops.yaml
  - helmrepository.yaml
  - helmrelease.yaml
  - prometheus-storage-class.yaml
  # TODO: Move to separate Flux Kustomization with dependency on kube-prometheus-stack HelmRelease
  # These require PrometheusRule CRD which is installed by kube-prometheus-stack
  # - cpu-alerting-rules.yaml
  # - flux-alerting-rules.yaml
  # - flux-servicemonitor.yaml
  - grafana-ingress.yaml
  - dashboards/

configMapGenerator:
  - name: monitoring-values
    namespace: monitoring
    files:
      - values.yaml=monitoring-values.yaml

generatorOptions:
  disableNameSuffixHash: true
