apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
resources:
  - namespace.yaml
  - secrets/smtp-credentials.sops.yaml
  - secrets/grafana-admin-credentials.sops.yaml
  - helmrepository.yaml
  - helmrelease.yaml
  - prometheus-storage-class.yaml
  # PrometheusRule CRDs require kube-prometheus-stack HelmRelease to be installed first.
  # If Flux apply-order issues occur, move these to a separate Kustomization with dependsOn.
  - cpu-alerting-rules.yaml
  - zfs-alerting-rules.yaml
  # - flux-alerting-rules.yaml
  # - flux-servicemonitor.yaml
  - grafana-ingress.yaml
  - dashboards/

configMapGenerator:
  - name: monitoring-values
    namespace: monitoring
    files:
      - values.yaml=monitoring-values.yaml

generatorOptions:
  disableNameSuffixHash: true
