apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

namespace: frigate

resources:
  - namespace.yaml
  - pvc.yaml
  - configmap.yaml
  - deployment.yaml
  - service.yaml
  - ingress.yaml

commonLabels:
  app.kubernetes.io/name: frigate
  app.kubernetes.io/version: "0.16.0"
  app.kubernetes.io/component: nvr
