apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: frigate-coral-config
  namespace: frigate
spec:
  accessModes:
    - ReadWriteOnce
  storageClassName: local-path
  resources:
    requests:
      storage: 5Gi
---
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: frigate-coral-media
  namespace: frigate
spec:
  accessModes:
    - ReadWriteOnce
  storageClassName: local-path
  resources:
    requests:
      storage: 100Gi
