apiVersion: v1
kind: Service
metadata:
  name: frigate-coral
  namespace: frigate
  labels:
    app: frigate-coral
spec:
  type: LoadBalancer
  selector:
    app: frigate-coral
  ports:
    - name: web
      port: 5000
      targetPort: 5000
      protocol: TCP
    - name: rtsp
      port: 8554
      targetPort: 8554
      protocol: TCP
    - name: webrtc-tcp
      port: 8555
      targetPort: 8555
      protocol: TCP
---
apiVersion: v1
kind: Service
metadata:
  name: frigate-coral-webrtc-udp
  namespace: frigate
  labels:
    app: frigate-coral
spec:
  type: LoadBalancer
  selector:
    app: frigate-coral
  ports:
    - name: webrtc-udp
      port: 8555
      targetPort: 8555
      protocol: UDP
