substitutions:
  name: home-assistant-voice-09f5a3
  friendly_name: Home Assistant Voice 09f5a3
packages:
  Nabu Casa.Home Assistant Voice PE: github://esphome/home-assistant-voice-pe/home-assistant-voice.yaml
esphome:
  name: ${name}
  name_add_mac_suffix: false
  friendly_name: ${friendly_name}
api:
  encryption:
    key: p134c8XgvhzHuVViQigf3d07OIgQ98BfSMXAvycmWtc=

wifi:
  ssid: !secret wifi_ssid
  password: !secret wifi_password
  manual_ip:
    static_ip: 192.168.86.10
    gateway: 192.168.86.1
    subnet: 255.255.255.0
    dns1: 192.168.86.1
